.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-sm)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.fnd-4.bloque-texto-f:before
  background-color: #FFFAED !important
.fnd-4
  .bloque-texto-f__comillas i
    color: $color-acento-botones !important
.fnd-4-
  .bloque-texto-f__comillas i
    color: $color-acento-botones !important

.fnd-99.bloque-texto-f:before
  background-color: #EBF4FD !important
.fnd-99
  .bloque-texto-f__comillas i
    color: $color-acento-botones !important
.fnd-99-
  .bloque-texto-f__comillas i
    color: $color-acento-botones !important

.fnd-1.bloque-texto-f:before
  background-color: #EBF4FD !important
.fnd-1
  .bloque-texto-f__comillas i
    color: #ADECD1 !important
.fnd-1-
  .bloque-texto-f__comillas i
    color: #ADECD1 !important
.fnd-2
  background-color: $color-primario
  p
    color: #12263F !important
.fnd-3.bloque-texto-f:before
  background-color: $color-primario !important
.fnd-3
  .bloque-texto-f__comillas i
    color: $color-acento-contenido !important

.bloque-texto-f.bg-color-6:before
  background-color: #D8E9FB !important
.bloque-texto-f.bg-color-5:before
  background-color: #EBF4FD !important

.fnd-5
  background-color: #E4FBF2 !important
.fnd-6
  background-color: #F4F9FE !important
  // content: ""
  background-repeat: no-repeat
  // display: flex
  // justify-content: center
  // align-items: end
  align-content: center
  &-1
    background-image: url(../assets/curso/temas/tema2/img-01.png)
  &-2
    background-image: url(../assets/curso/temas/tema2/img-02.png)
  &-3
    background-image: url(../assets/curso/temas/tema2/img-03.png)
  &-4
    background-image: url(../assets/curso/temas/tema2/img-04.png)
  &-5
    background-image: url(../assets/curso/temas/tema2/img-05.png)
  &-6
    background-image: url(../assets/curso/temas/tema2/img-06.png)
  &-7
    background-image: url(../assets/curso/temas/tema2/img-07.png)
  &-8
    background-image: url(../assets/curso/temas/tema2/img-08.png)
  &-9
    background-image: url(../assets/curso/temas/tema2/img-09.png)
  &-10
    background-image: url(../assets/curso/temas/tema2/img-10.png)
  &-11
    background-image: url(../assets/curso/temas/tema2/img-11.png)

.fnd-9
  background: url('../assets/curso/temas/tema2/img44.png')
  background-size: cover
  background-repeat: no-repeat
  padding: 2rem
  margin-inline: -3.4rem
  border-radius: 1.5rem

.fnd-10
  background-color: #fff
  border-radius: 1.5rem

  h2, h4
    text-align: center
.fnd-11
  background: url('../assets/curso/temas/tema2/img45.png')
  background-size: cover
  background-repeat: no-repeat
  padding: 2rem
  margin-inline: -3.4rem
  border-radius: 1.5rem

.fnd-13-
  &::before
    background-image: url(../assets/curso/temas/tema2/fnd-6.svg) !important
    background-color: transparent !important
.fnd-13
  position: relative
  display: flex
  flex-direction: row
  justify-content: left
  align-items: center
  z-index: 1
  p,span,i
    color: #12263F !important
  &::before
    content: ""
    position: absolute
    top: 50%
    right: 0
    width: 100%
    height: 100%
    transform: translateY(-50%)
    border-radius: 20px
    z-index: -1
    background-repeat: no-repeat
    background-image: url(../assets/curso/temas/tema2/img47.svg)
    background-size: cover
  @media (min-width: 1200px)
    &::before
      top: 50%
      right: 0
      width: 94%
      height: 100%
      transform: translateY(-50%)
      border-radius: 15px
      background-repeat: no-repeat
  @media (min-width: 992px) and (max-width: 1200px)
    &::before
      top: 50%
      left: 39%
      width: 92%
      height: 100%
      transform: translate(-33%, -50%)
      background-color: #01756200

  @media screen and (max-width: $bp-max-sm)
    background-color: #E2F3F8

.fnd-14
  background: url('../assets/curso/temas/tema2/fnd-5.svg')
  background-size: cover
  background-repeat: no-repeat
.tt
  background-color: #F6FCFA
  padding: 1rem
  border-radius: 20px 0 20px 0
  h1
    color: #78A492
    font-size: 2.3em

.tx-1
  color: #02DD84 !important
.tx-2
  font-size: 3em
  color: #E4FBF2
  margin-bottom: 0
  font-weight: bold
  text-align: right
.img-12
  border: 6px solid #2E85B1
  border-radius: 1rem
  padding: 1rem
  .img-425
    display: none
  @media (min-width: 992px)
    p, h5
      display: none
      border: 0px solid #2E85B1
      border-radius: 0
      padding: 5px
    .img-425
      display: block
      min-height: 425px
.img-13
  border: 6px solid #FF9751
  border-radius: 1rem
  padding: 1rem
  .img-426
    display: none
  @media (min-width: 992px)
    p, h5
      display: none
      border: 0px solid #FF9751
      border-radius: 0
      padding: 1px
    .img-426
      display: block
      min-height: 425px

.fnd-12
  background: url('../assets/curso/temas/tema2/fnd-3.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  padding: 2rem
  background-color: #E2F3F8
.img-14
  border: 6px solid #A0C9F6
  border-radius: 1rem
  padding: 1rem
  background-color: #fff

.img-15
  border: 6px solid #ADECD1
  border-radius: 1rem
  padding: 1rem
  background-color: #fff

.img-fnd-avat
  position: relative
  .b-img-avat1
    display: none

  .b-img-avat2
    display: none
  @media (min-width: 1366px)
    position: relative
    height: 20rem
    .b-img-avat1
      position: absolute
      display: block
      top: -12%
      left: -10%
      width: 60%
    .fl-box-avat1
      position: absolute
      display: block
      top: 6%
      right: -1%
      width: 48%
      transform: translateY(5%)

    .b-img-avat2
      position: absolute
      display: block
      top: -13%
      left: -4%
      width: 35.5%

    .fl-box-avat2
      position: absolute
      display: block
      top: 1%
      right: -1%
      width: 68%
  @media (min-width: 1093px) and (max-width: 1200px)
    position: relative
    height: 32rem
    .b-img-avat1
      position: absolute
      display: block
      top: 50%
      left: 16%
      width: 74%
      transform: translate(-50%, -50%)
    .fl-box-avat1
      position: absolute
      display: block
      top: 50%
      right: -1%
      width: 49%
      transform: translateY(-50%)

    .b-img-avat2
      position: absolute
      display: block
      top: 50%
      left: 17%
      width: 44%
      transform: translate(-50%, -50%)

    .fl-box-avat2
      position: absolute
      display: block
      top: 50%
      right: -1%
      width: 62%
      transform: translateY(-50%)

  @media (min-width: 1200px) and (max-width: 1366px)
    position: relative
    height: 26rem
    .b-img-avat1
      position: absolute
      display: block
      top: 50%
      left: 24%
      width: 69%
      transform: translate(-50%, -50%)
    .fl-box-avat1
      position: absolute
      display: block
      top: -6%
      right: -1%
      width: 41%
      transform: translateY(8%)

    .b-img-avat2
      position: absolute
      display: block
      top: 50%
      left: 15%
      width: 41%
      transform: translate(-50%, -50%)

    .fl-box-avat2
      position: absolute
      display: block
      top: 2%
      right: -1%
      width: 65%
  @media (min-width: 992px) and (max-width: 1093px)
    position: relative
    height: 35rem
    .b-img-avat1
      position: absolute
      display: block
      top: 50%
      left: 17%
      width: 74%
      transform: translate(-50%, -50%)
    .fl-box-avat1
      position: absolute
      display: block
      top: 8%
      right: -1%
      width: 46%
      transform: translateY(8%)

    .b-img-avat2
      position: absolute
      display: block
      top: 50%
      left: 17%
      width: 49%
      transform: translate(-50%, -50%)

    .fl-box-avat2
      position: absolute
      display: block
      top: 2%
      right: -1%
      width: 59%
  @media (min-width: 768px) and  (max-width: 992px)
    position: relative
    height: 20rem
    .b-img-avat1
      position: absolute
      display: block
      top: 1%
      left: -10%
      width: 49%
      transform: translateY(-10%)
    .fl-box-avat1
      position: absolute
      display: block
      top: 10%
      right: -1%
      width: 60%
      transform: translateY(10%)

    .b-img-avat2
      position: absolute
      display: block
      top: 3%
      left: -10%
      width: 36%

    .fl-box-avat2
      position: absolute
      display: block
      top: -2%
      right: -2%
      width: 75%

.img-fnd-flot8
  position: relative
  width: 100%
  .b-img8
    display: block
    width: 10rem
  .b-img9
    display: block
    width: 11rem
  .fl-box8
    position: absolute
    top: 50%
    transform: translateY(-50%)
    padding-left: 1.4rem
  @media (min-width: 992px) and (max-width: 1200px)
    .b-img8
      display: block
      width: 10rem
    .b-img9
      display: block
      width: 11rem
    .fl-box8
      position: absolute
      top: 50%
      transform: translateY(-50%)
      padding-left: 1.4rem

  @media (min-width: 1200px)
    .b-img8
      display: block
      width: 10rem
    .b-img9
      display: block
      width: 11rem

.img-fnd-flot
  position: relative
  width: 100%
  .fl-box
    color: #fff
    padding: 20px
    border-radius: 1rem
    margin-top: 1rem
    background-color: #FFD5B8
  .b-img
    display: none
  @media (min-width: 992px)
    .b-img
      display: block
      width: 100%
    .fl-box
      position: absolute
      background-color: #ffffff00
      top: 48%
      transform: translateY(-52%)
      width: 70%
      color: #fff
      padding: 20px
      border-radius: 1rem
      p
        color: black

  @media (min-width: 992px) and (max-width: 1200px)
    background-color: #FFD5B8
    border-radius: 1rem
    padding: 3rem 0

    .b-img
      display: block
      height: auto
      margin: 3rem 0
    .fl-box
      position: absolute
      top: 48%
      transform: translatey(-52%)
      width: 70%
      color: #fff
      padding: 20px
      border-radius: 1rem
  @media (min-width: 1200px)
    .b-img
      background-color: #FFD5B8
      border-radius: 1.5rem

.img-fnd-flot2
  position: relative

  width: 100%
  .fl-box2
    color: #fff
    padding: 20px
    border-radius: 1rem
    margin-top: 1rem
    // background-color: #017662
    p
      color: #fff
  .fl-box4
    background-color: #017662
  .b-img2
    // display: none
  // .fl-box3

  @media (min-width: 992px)
    .b-img2
      display: block
      width: 900%
    .fl-box2
      position: absolute
      background-color: #ffffff00
      top: 50%
      left: 6%
      transform: translateY(-50%)
      width: 82%
      padding: 20px
      p
        color: #fff
    .fl-box3
      top: 48%
      transform: translateY(-53%)
      width: 91%
    .fl-box4
      width: 100%
      top: 46%
      left: 2%
      transform: translateY(-54%)

  @media (min-width: 992px) and (max-width: 1200px)
    border-radius: 1rem
    padding: 0
    .b-img2
      display: block
      height: auto
      margin: 3rem 0 3rem 0
    .fl-box2
      position: absolute
      top: 48%
      left: 5%
      transform: translatey(-52%)
      width: 86%
      padding: 20px
    .fl-box4
      width: 90%

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color: #DEF7EC
.linea-tiempo-d__item__content__slot
  background-color: #F6FCFA
.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__dots:after
    border-left: 5px dotted #A0C9F6

$crd-icon-size: 120px
$crd-padding: 1.5rem
$crd-width: calc(100% - ((#{$crd-icon-size} / 2)))

.crd_02
  position: relative
  display: flex
  flex-direction: row
  justify-content: start
  align-items: center
  z-index: 1
  &::before
    content: ""
    position: absolute
    top: 58%
    right: 0
    width: 94%
    height: 100%
    transform: translateY(-50%)
    border-radius: 15px
    z-index: -1
    background-image: url(../assets/curso/temas/tema3/img-7.svg)
    background-repeat: no-repeat

  &__icon
    order: 1
    flex-basis: auto
    width: $crd-icon-size
    margin-right: 15px
    img
      width: $crd-icon-size
  &__txt
    flex: 1
    order: 2
    p
      color: #fff !important

.list
  width: 100%
  display: flex !important
  &__item
    &__icon
      position: relative
      width: 3rem
      margin-right: 0.65rem
      margin-top: 4px
  &__txt
    margin-top: 1rem
  &__txt2, &__txt3
    margin-top: 0.2rem
  @media (max-width: 576px)
    &__txt, &__txt2
      margin-top: 0rem
  @media (min-width: 1200px)
    &__txt3
      margin-top: 1rem

.img-86
  height: 86px

.img-fnd-flot3
  position: relative
  width: 100%
  .fl-box3
    color: #fff
    padding: 20px
    margin-top: 1rem
    // background-color: #ff0000

    @media screen and (max-width: $bp-max-md)
      background-image: url("../assets/curso/temas/tema2/img45.svg") !important
    @media screen and (max-width: $bp-max-sm)
      background-image: url("../assets/curso/temas/tema2/img45.svg") !important

    p
      color: #ffffff
  .b-img3
    display: none
  @media (min-width: 992px)
    .b-img3
      display: block
      width: 100%

    .fl-box3
      position: absolute
      background-color: #ffffff00
      top: 47%
      transform: translateY(-50%)
      padding-left: 2rem
      width: 61%
      color: #fff
      border-radius: 1rem

      p
        color: #ffffff

.crd_03
  position: relative
  display: flex
  flex-direction: row
  justify-content: start
  align-items: center
  padding: 1rem 1rem .5rem 0
  z-index: 1

  &::before
    content: ""
    position: absolute
    top: 0
    right: 0
    width: $crd-width
    height: 100%
    background-color: #E4FBF2
    border-radius: 15px
    z-index: -1
  &__icon
    order: 1
    flex-basis: auto
    width: $crd-icon-size
    img
      width: $crd-icon-size
  &__txt
    flex: 1
    order: 2

.tarjeta-avatar > img
  width: 120px
.tarjeta-avatar .tarjeta
  padding-top: 20px !important
  display: flex
  justify-content: center
  align-items: center

.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after
  background-color: #ffffff

.img-infografica.color-primario .img-infografica__item__numero, .img-infografica-b.color-primario .img-infografica__item__numero
  color: #000000

.tabs-a__tab
  background-color: #E8E8E8

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #01927F
  background-image: url(../assets/curso/temas/tema2/arrow.svg)

.slyder-a__bullets__item
  background-color: #A6D9D2

.slyder-a__bullets__item--active
  background-color: #01927F

.fnd-i
  background-image: url(../assets/curso/temas/tema1/fnd-1.png)
  background-repeat: no-repeat
  background-position: bottom center
  background-size: auto
  background-repeat: no-repeat
  overflow: visible

.b-r-b
  border-radius: 20px 20px 0 0

.b-r-m
  border-radius: 0

.b-r-t
  border-radius: 0 0 20px 20px

  //////////////CUSTON SLYDER-A////////
.slyder-a__bullets__item
  background-color: #A0C9F6
  border: #A0C9F6
.slyder-a__bullets__item--active
  background-color: #A0C9F6
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: #FF8E6B
.slyder-a__bullets__item
  @media screen and ( max-width: $bp-max-xs )
    margin: 0 5px

.text-color-12263F
  color: #12263F !important

.linea-tiempo-c__header__btn, .pasos-b__header__btn--left, .pasos-b__header__btn--right, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right
  background-color: #FF8E6B
  border: 2px solid #FF8E6B

// ---- Subtitulos ----- //
.subtitle
  background: #D9EAFB
  background-size: cover
  background-position: right
  border-radius: 0px 50px 0px 0px
  display: inline-block
  padding: 10px 20px 10px 40px
  padding-right: 40px
  position: relative

  .image
    position: absolute
    width: 40px
    top: -15px
    left: -5px

// Acordion
.acordion
  .tarjeta
    margin-bottom: 0.5rem!important
    padding: 0.75rem!important
    .acordion__header
      margin-bottom: 0rem!important
    .mb-md-4
      padding-bottom: 0rem!important
    .acordion__contenido
      height: auto
      pa7dding-left: 3.5rem
    .acordion__contenido__item
      padding-bottom: 0rem!important
    &--azul
      border-radius: 20px
      background-color: #F6F6F6 !important
      p,h3
        color: #12263F
    &--azul.acordion__activo
      background: #EEFBF5 !important
      border-radius: 20px
      p,h3
        color: #12263F
      .acordion__accion__btn--a
        background: #FF8E6B
        color: #ADECD1

// Acordion Custom Colors
.acordion__accion__btn--a
  background-color: #ffff !important
  color: #FF8E6B
.acordion__activo
  background-color: #E2E7F7 !important
.acordion_titulo
  color: #fff !important
.acordion__titulo
  h3
    color: $color-sistema-texto !important

.tarjeta-numerada__numero
  top: 5px !important

.crd-custom
  background-image: url(../assets/curso/temas/tema2/img47.svg)
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  border-radius: 0px
  padding: 50px 120px !important
  p
    font-weight: bold
  @media (max-width: $bp-max-lg)
    background-size: cover
    padding: 40px 60px !important
  @media (max-width: $bp-max-md)
    padding: 30px 20px !important
    p
      font-size: 0.9em

.crd-custom-01
  background-image: url(../assets/curso/temas/tema2/img01.svg)
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  border-radius: 0px
  padding: 50px 120px !important
  p
    font-weight: bold
  @media (max-width: $bp-max-lg)
    background-size: cover
    padding: 40px 60px !important
  @media (max-width: $bp-max-md)
    padding: 30px 20px !important
    p
      font-size: 0.9em

//posicion pantalla//
.posit
  z-index: 1
  right: 35%
  width: 63% !important
  @media screen and ( max-width: 420px  )
    right: 6%
    width: 88% !important
  &_2
    z-index: 0
    left: 50% !important
    @media screen and ( max-width: 420px )
      left: 0 !important
  &_3
    margin-top: -49px
    margin-bottom: 13px
  &_4
    margin-top: -280px
    margin-left: 56px
    @media screen and ( max-width: 420px )
      margin-top: 0
    @media screen and ( max-width: $bp-max-md )
      margin-left: 0
      display: none
  &_8
    top: 50px

  // Colores
.bg-color-10
  background-color: #BCEFEA

.bg-color-2
  background-color: #A0C9F6

.bg-color-1
  background-color: #FFFAED

.bg-color-3
  background-color: #F6FCFA

.bg-color-4
  background-color: #FFEEBD

.bg-color-5
  background-color: #EBF4FD

.bg-color-6
  background-color: #D8E9FB
.bg-color-7
  background-color: #FFEEBD
  border-radius: 20px

.img90
  max-width: 90px !important

.bg-fondo-1
  background: url('../assets/curso/temas/tema2/img45.svg')
  background-size: cover
  background-repeat: no-repeat

.h-100
  height: 100%

.img-85
  max-width: 85px
  margin: 0 auto

.position-absolute
  position: absolute !important

.tarjeta-label__icon
  top: 50%
  left: 0
  transform: translate(-50%, -50%)

.custom-mh
  height: -webkit-fill-available

.bg-full-width
  margin: 0 -3em
  padding: 0 3rem
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  @media screen and (max-width: $bp-max-sm)
    padding-left: 3rem
    padding-right: 3rem

.bg-fondo-2
  background-image: url("../assets/curso/temas/tema1/fnd-1.png") !important
  background-position: bottom
  background-size: cover

.img65
  @media screen and (max-width: $bp-max-sm)
    width: 100px
    margin: 0px auto
